---
import HeartIcon from "./icons/heartIcon.astro"
import LinkIcon from "./icons/linkIcon.astro"

const NAVIGATIONS = [
    { name: 'Inicio', href: '#inicio' },
    { name: 'Sobre Nosotros', href: '#sobre-nosotros' },
    { name: 'Modalidades', href: '#modalidades' },
    { name: 'Staff', href: '#staff' }
];

const SOCIAL_MEDIA_LINKS = [
    { name: 'Twitter/X', href: 'https://discord.gg/b6T46qY5me' },
    { name: 'Discord', href: 'https://discord.gg/b6T46qY5me' },
];

---

<footer class="relative bg-gradient-to-t from-80% from-slate-900/80 to-transparent">
    <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
        <div class="md:flex md:justify-between">
          <div class="mb-6 md:mb-0">
              <div class="flex items-center">
                  <img src="/logo.webp" class="h-12 me-3" alt="Infinite Repo logo" />
                  <span class="self-center text-2xl whitespace-nowrap dark:text-white font-Chakra font-bold uppercase">GlaciarMC</span>
              </div>
              <p class="text-sm text-gray-500 dark:text-gray-400 font-medium max-w-[300px] sm:max-w-[400px] text-pretty">Tu lugar de descanso y diversión.</p>
          </div>
          <div class="grid grid-cols-2 gap-8 sm:gap-10 sm:grid-cols-2">
              <div>
                  <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">NAVEGACIONES</h2>
                  <ul class="text-gray-500 dark:text-gray-400 font-medium">
                    {NAVIGATIONS.map((nav) => (
                        <li class="mb-4">
                            <a aria-label={`Ir a la sección ${nav.name}`} href={nav.href} class="hover:text-gray-300 transition-all duration-300">{nav.name}</a>
                        </li>
                    ))}
                  </ul>
              </div>
              <div>
                  <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Siguenos</h2>
                  <ul class="text-gray-500 dark:text-gray-400 font-medium">
                    {SOCIAL_MEDIA_LINKS.map((media) => (
                        <li class="mb-4">
                            <a aria-label={`Ir a ${media.name}`} href={media.href} rel="noopener noreferrer" target="_blank" class="hover:text-gray-300 transition-all duration-300">{media.name}</a>
                        </li>
                    ))}
                  </ul>
              </div>
          </div>
      </div>
      <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
      <div class="flex flex-col sm:flex-row justify-center items-center sm:justify-between">
          <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2025 GlaciarMc. Todos los derechos de esta web reservados.
          </span>
          <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400 flex items-center gap-1">Made with<HeartIcon class="text-red-300 size-4 animate-pulse"/>by<a aria-label="Ir al portafolio de Arturoiwnl" target="_blank" href="https://arturoiwnl.pro/" rel="noopener noreferrer" class="flex gap-0.5 items-center hover:scale-105 transition-all duration-300 group/iconLink bg-gradient-to-r from-[#D4AF37] via-[#FFD700] to-[#B8860B] bg-clip-text text-transparent">Arturoiwnl <LinkIcon class="text-[#D4AF37] size-3 pointer-events-none opacity-0 group-hover/iconLink:opacity-100 transition-opacity duration-300"/></a>
          </span>
          <div class="flex mt-4 sm:justify-center sm:mt-0">
              <a aria-label="Link a Discord" rel="noopener noreferrer" target="_blank" href="https://discord.gg/b6T46qY5me" class="text-gray-500 hover:text-gray-900 dark:hover:text-white ms-5 transition-colors duration-300">
                  <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 21 16">
                        <path d="M16.942 1.556a16.3 16.3 0 0 0-4.126-1.3 12.04 12.04 0 0 0-.529 1.1 15.175 15.175 0 0 0-4.573 0 11.585 11.585 0 0 0-.535-1.1 16.274 16.274 0 0 0-4.129 1.3A17.392 17.392 0 0 0 .182 13.218a15.785 15.785 0 0 0 4.963 2.521c.41-.564.773-1.16 1.084-1.785a10.63 10.63 0 0 1-1.706-.83c.143-.106.283-.217.418-.33a11.664 11.664 0 0 0 10.118 0c.137.113.277.224.418.33-.544.328-1.116.606-1.71.832a12.52 12.52 0 0 0 1.084 1.785 16.46 16.46 0 0 0 5.064-2.595 17.286 17.286 0 0 0-2.973-11.59ZM6.678 10.813a1.941 1.941 0 0 1-1.8-2.045 1.93 1.93 0 0 1 1.8-2.047 1.919 1.919 0 0 1 1.8 2.047 1.93 1.93 0 0 1-1.8 2.045Zm6.644 0a1.94 1.94 0 0 1-1.8-2.045 1.93 1.93 0 0 1 1.8-2.047 1.918 1.918 0 0 1 1.8 2.047 1.93 1.93 0 0 1-1.8 2.045Z"/>
                    </svg>
              </a>
              <a aria-label="Link a Twitter/X" rel="noopener noreferrer" target="_blank" href="https://discord.gg/b6T46qY5me" class="text-gray-500 hover:text-gray-900 dark:hover:text-white ms-5 transition-colors duration-300">
                  <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 17">
                    <path fill-rule="evenodd" d="M20 1.892a8.178 8.178 0 0 1-2.355.635 4.074 4.074 0 0 0 1.8-2.235 8.344 8.344 0 0 1-2.605.98A4.13 4.13 0 0 0 13.85 0a4.068 4.068 0 0 0-4.1 4.038 4 4 0 0 0 .105.919A11.705 11.705 0 0 1 1.4.734a4.006 4.006 0 0 0 1.268 5.392 4.165 4.165 0 0 1-1.859-.5v.05A4.057 4.057 0 0 0 4.1 9.635a4.19 4.19 0 0 1-1.856.07 4.108 4.108 0 0 0 3.831 2.807A8.36 8.36 0 0 1 0 14.184 11.732 11.732 0 0 0 6.291 16 11.502 11.502 0 0 0 17.964 4.5c0-.177 0-.35-.012-.523A8.143 8.143 0 0 0 20 1.892Z" clip-rule="evenodd"/>
                </svg>
              </a>
          </div>
      </div>
    </div>
        <div tabindex="0" class="scroll-to-top absolute -top-20 right-10">
            <a aria-label="Volver arriba" href="#inicio" class="group/scrolltop flex relative bg-slate-800/50 px-5 py-2 rounded-full hover:bg-slate-700/50 border border-gray-600/30 hover:border-gray-500/30 hover:scale-98">
            <svg class="size-10 sm:w-6 rotate-90" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path>
            </svg>
            <span class="pointer-events-none absolute top-4 -left-32 w-[120px] pl-2 mr-10 bg-slate-800/50 rounded-full hover:bg-slate-700/50 border border-gray-600/30 hover:border-gray-500/30 opacity-0 group-hover/scrolltop:opacity-100 transition-opacity duration-300">Volver al Inicio</span>
        </a>
        </div>
</footer>
